.w-x2 {
    width: 48rem;
}

.shadow-custom {
    box-shadow: 0px 3px 0px 7px #6BC89B;
}

.linear-gradient-custom {
    background-image: linear-gradient(to right bottom, #893ed7, #a82ebb, #b924a0, #c02587, #c12e72);
}
