.w-x2 {
    width: 40rem;
}

.rounded-custom {
    border-radius: 32px;
}

.linear-gradient-custom {
    background-image: linear-gradient(to right bottom, #ff9daa, #ff8eb2, #ff7fc0, #fd74d4, #ec6eec);
}