@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');
body {
    font-family: "Montserrat", sans-serif;
}

.font-fjalla-one {
    font-family: "Fjalla One", sans-serif;
}

.font-opensan {
    font-family: "Open Sans", sans-serif;
}

.font-monterrat {
    font-family: "Montserrat", sans-serif;
}

.w-standard {
    width: 45rem;
}

.w-x2 {
    width: 90rem;
}

.w-1-2 {
    width: 22.5rem;
}

.linear-gradient-custom {
    background-image: linear-gradient(to right bottom, #aa25de, #972de2, #8133e5, #6838e8, #463dea);
}
