.w-x2 {
    width: 600px;
}

.bg-linear-custom {
    background-image: linear-gradient(to right, #8ddbe3, #84d2e4, #80c9e5, #80bfe3, #83b5e0);
}

.btn-linear-custom {
    background-image: linear-gradient(to bottom, #6fafe7, #6cbbe8, #71c7e8, #7cd1e5, #8ddbe3);
}
